<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a registered? Please <a routerLink="/login">log in</a>.</p>
      <form (submit)="register()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>

</div>
